@model Dyplom_Rozhko_MVC.Models.ConnectAllTables

@{
    Layout = "~/Views/Shared/_LayoutPageOther.cshtml";
}

<!-- Checkout Start -->
<div class="container-fluid pt-5">
    <div class="row px-xl-5">
        <div class="col-lg-8">
            <div class="mb-4">
                <h4 class="font-weight-semi-bold mb-4">Підтвердження замовлення</h4>
                <div class="row">
                    <div class="col-md-6 form-group">
                        <label>Ім'я</label>
                        <input class="form-control" type="text" placeholder="">
                    </div>
                    <div class="col-md-6 form-group">
                        <label>Прізвище</label>
                        <input class="form-control" type="text" placeholder="">
                    </div>
                    <div class="col-md-6 form-group">
                        <label>Пошта</label>
                        <input class="form-control" type="text" placeholder="">
                    </div>
                    <div class="col-md-6 form-group">
                        <label>Номер телефону</label>
                        <input class="form-control" type="text" placeholder="">
                    </div>
                    <div class="col-md-6 form-group">
                        <label>Місто</label>
                        <input class="form-control" type="text" placeholder="">
                    </div>
                    <div class="col-md-6 form-group">
                        <label>Доставка</label>
                        <select class="custom-select">
                            <option selected>Нова пошта</option>
                            <option>Укрпошта</option>
                            <option>Meest</option>
                        </select>
                    </div>
                    <div class="col-md-6 form-group">
                        <label>Номер відділення</label>
                        <input class="form-control" type="text" placeholder="">
                    </div>
                    <div class="col-md-6 form-group">
                        <label>Оплата</label>
                        <select class="custom-select">
                            <option selected>При отримані</option>
                            <option>GooglePay/ApplePay</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="card border-secondary mb-5">
                <div class="card-header bg-secondary border-0">
                    <h4 class="font-weight-semi-bold m-0">Товари</h4>
                </div>
                <div class="card-body">
                    <div class="d-flex justify-content-between">
                        <p>Товар 1</p>
                        <p>$150</p>
                    </div>
                    <div class="d-flex justify-content-between">
                        <p>Товар 2</p>
                        <p>$150</p>
                    </div>
                    <div class="d-flex justify-content-between">
                        <p>Товар 3</p>
                        <p>$150</p>
                    </div>
                </div>
                <div class="card-footer border-secondary bg-transparent">
                    <div class="d-flex justify-content-between mt-2">
                        <h5 class="font-weight-bold">Повна сума замовлення</h5>
                        <h5 class="font-weight-bold">$450</h5>
                    </div>
                </div>
            </div>
            <div class="card border-secondary mb-5">
                <div class="card-footer border-secondary bg-transparent">
                    <button class="btn btn-lg btn-block btn-primary font-weight-bold my-3 py-3">Замовити</button>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Checkout End -->
